body {
  background-image: url("./images/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main {
  text-align: center !important;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(25px + 2vmin);
  font-family: "prompt" !important;
  color: white;
}

.form-label {
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
  font-family: "prompt" !important;
  font-weight: normal !important;
  font-size: 1.25rem !important;
}

.form-input {
  text-align: center !important;
  padding: 10px !important;
  width: 80vw !important;
  font-family: "prompt" !important;
  font-weight: normal !important;
  font-size: 1rem !important;
}

.form-btn {
  margin-top: 1rem !important;
  padding: 15px !important;
  background-color: #d68c45 !important;
  color: #000000 !important;
  font-family: "prompt" !important;
  font-weight: normal !important;
  font-size: 1.25rem !important;
}

.prompt {
  font-family: "prompt" !important;
  font-weight: bold !important;
}

.subheader {
  margin-top: 0.5rem !important;
}